{% block body -%}
    <div class="panel-default">
        <div class="panel-heading">
            Address edit
        </div>    
        <div class="panel-body">    
            {{ form(edit_form) }}  
        </div>  
    </div>
{% endblock %}
