{% block body -%}
    <div class="panel-default">
        <div class="panel-heading">
            Address new
        </div>    
        <div class="panel-body">    
             {{ form(form) }}  
        </div>  
    </div>
{% endblock %}
