/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/nbproject/
/web/bundles/
*~
*.lock
*.DS_Store
*.swp
*.out
nbproject/
.idea/
*.tmproj
app/config/parameters.ini
web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
composer.phar
/.ssh/
.viminfo
.bash_history
/.git/
statnet

