{% extends '::base.html.twig' %}
{% block body -%}
    <div class="container">
        <div class="row">
            
            {{ name|raw|json_encode(constant('JSON_PRETTY_PRINT')) }}
            
        </div>
    </div>
{% endblock %}
