{% block body -%}
    <div class="panel-default">
        <div class="panel-heading">
            Customer new
        </div>    
        <div class="panel-body">    
            {{ form(form) }}  
        </div>  
    </div
{% endblock %}
