{% block body -%}
    <div class="panel-default">
    <div class="panel-heading">
     Customer edit
    </div>    
    <div class="panel-body">
    
    </div>
    {{ form(edit_form) }}    
    </div>
</ul>
{% endblock %}
