{% extends '::base.html.twig' %}

{% block body -%}
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12'>
                It's  <strong>{{ callregister.created|date('Y-m-d H:i') }}</strong> !<br/>
                Hello <strong>{{ callregister.createdBy }}</strong> !<br/>
                You are logged on <strong>{{ callregister.createdFromIp }}</strong> !<br/>
            </div>
        </div>
    </div>
{% endblock %}
