{% extends '::base.html.twig' %}

{% block body -%}
    <div>
        
    Hello {{ callregister.created|date('Y-m-d H:i') }}!
    Hello {{ callregister.createdBy }}!
    Hello {{ callregister.createdFromIp }}!

    
    </div>
{% endblock %}
