{% block body -%}
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>Orders</strong>
        </div>
        <div class="panel-body">  
            {{ form(form) }}                       
        </div>
    </div>
{% endblock %}
