{% block body -%}
    <div class="panel panel-success">
        <div class="panel-heading">
            <strong>Order</strong> {{ entity.id }} ({{ entity.callregister.id }})
        </div>
        <div class="panel-body">  
            <strong>Customer:</strong> <br/> 
            {{ entity.customer|default('Brak') }} <br/> 
            <strong>Address:</strong> <br/>
            {{ entity.address|default('Brak') }} <br/> 
        </div>
    </div>
{% endblock %}
